.filterButtons {
  justify-content: space-evenly;
}

#app {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 30px;
}

.filterButtons {
  display: flex;
  row-gap: 10px;
  justify-content: space-around;
  margin: 20px 0 30px 0;
}

.btnShowAll {
  background-color: #f8ead8;
  color: #65647c;
}

.btnShowAll:hover {
  background-color: #f8ead8;
}

.btnShowCats {
  background-color: #d36b00;
  color: #fcffe7;
}

.btnShowCats:hover {
  background-color: #d36b00;
}

.btnShowDogs {
  background-color: #8b4513;
  color: #fcffe7;
}

.btnShowDogs:hover {
  background-color: #8b4513;
}

.btnShowDinos {
  background-color: #41644a;
  color: #fcffe7;
}

.btnShowDinos:hover {
  background-color: #41644a;
}

form {
  margin: 20px;
}

.card {
  margin: 20px;
}

.btn-info {
  color: white;
}
